body {
  font-family: 'Roboto', sans-serif;
}

#hero {
  background: url(../img/hero-bg.jpg);
  background-position: -40px -40px;
  background-size: cover;
}

.section {
  background: #4d4d4d;
  color: #ffffff;
}

.chart-header {
  font-size: 40px;
  margin-top: 200px;
  margin-bottom: 30px;
}

#headline {
  color: #ffffff;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

#lead-copy {
  font-size: 30px;
}

.axis line,
.axis path {
  stroke: #ffffff;
}

.axis text,
.axis-title,
.axis-label {
  fill: #ffffff;
}

.axis-title {
  font-size: 18px;
  text-anchor: middle;
}

#drug-seizures-chart .axis-label {
  font-size: 14px;
  text-anchor: middle;
}

.drug-seizures-filter input[type="radio"] {
  margin-right: 5px;
}

#row-ctas {
  margin-top: 60px;
}
